div.admin-dashboard {
    padding: 32px;
}
div.admin-dashboard h1 {
    color: #11515D;
}
div.admin-dashboard select {
    padding: 4px 8px;
}

div.admin-dashboard select:hover {
    cursor: pointer;
}

div.admin-dashboard section.workarea {
    margin-top: 32px;
    padding: 16px;
    background-color: rgba(0, 0, 0, .2);
}

div.admin-dashboard section.workarea h2 {
    text-align: center;
    margin-bottom: 16px;
}
div.admin-dashboard section.workarea li {
    list-style-type: none;
}
div.admin-dashboard section.workarea input[type='checkbox'] {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

