.nav-container {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background-color: #ffffff;
}

.nav-container > img {
    width: 100px;
    margin: 50px 0px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 60px;
}

.logo-container > a {
    color: #4a4e69;
    font-size: 40px;
}

.setting {
    color: #4a4e69;
    font-size: 20px;
    margin-top: 100px;
}